body{
  margin: 0px;
  padding: 0px;
  background-color: #f0ffff;
}
header{
  background-color: #7fffd4;
  overflow: hidden;
  height: 150px;;
  width: 98%;
  margin: auto;
  margin-top: 1%;
  border-radius: 10px;

}
header img,h1{
  float: left;

}
.hr{
  height: 2px;
  background-color: #c0c0c0;
  width: 98%;
  margin: auto;
  margin-top: 1%;
}
#mainIcon{
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 3%;
  }
#logo{
  margin-top: 3%;
  margin-left: 1%;
  font-size:50px;
  font-family: 'Abril Fatface' , cursive;

}
#main{
  height: 50px;
  width: 50px;
  background-color: #69b4f8;
  border-radius: 50%;
  position: fixed;
  top: 95%;
  left: 3%;
  transform: translate(-50%,-50%);
  z-index: 99;
}
#main:hover{
  cursor: pointer;
}
#icon{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#menu{
  height: 0px;
  width: 0px;
  position: absolute;
  top: 12%;
  left: 58%;
  transform: translate(-50%,-50%);
}
#menu ul{
  height: 300px;
  width: 220px;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  visibility: hidden;

}
#menu ul li{
  font-family: fantasy;
  color: white;
  font-size: 27px;
  padding: 10px;

}
#menu ul li:hover{
  cursor: pointer;
}

#menu ul li:hover::before{
content: '';
width: 15px;
height:4px;
background-color: white;
position: absolute;
margin-top: 18px;
margin-left: -20px;
}
#menu ul li:hover::after{
content: '';
width: 15px;
height:4px;
background-color: white;
position: absolute;
margin-top: 18px;
margin-left: 5px;
}
#bg{
  height: 100vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.content{
  float: left;
  width: 75%;
  overflow: hidden;
}
.leftSidebar{
  float: right;
  width: 25%;
  height: 500px;
  border-left: 2px solid #c0c0c0;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  font-weight: lighter;
  font-size: 40px;
}

.leftSidebar h3{
  font-size: 30px;
  font-family: 'Jua',sans-serif;
  font-weight: 100;
}


#ecran{
  overflow:auto;
  width:100%;

  height:300px;
  /*border-style: solid;
  border-width: 1px;
*/
}

#ecran::-webkit-scrollbar{
  width: 0px;
}
.mySlides {
  margin-top: 3%;
  height: 450px;
  width: 90%;
  margin-left: 6%;
  border-radius: 10px;
}
.w3-content{
  max-width: 500px;
}


/*::-webkit-scrollbar{
    width: 12px;
  }
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,#673ab7,#e91e63);
    outline: 0;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  }*/
::-webkit-scrollbar{
      width: 10px;
}
::-webkit-scrollbar-thumb{
      background: #673ab7;
      outline: 0;
      border-radius: 50px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    }

aside{
  position: relative;
}

      #button1,#button2{
        color: #673ab7;
        font-family: fantasy;
        font-size: 20px;
        width: 300px;
        height: 50px;
        border: none;
        outline: none;
        border:2px solid #f7f7f7;
        text-align: center;
        border-radius: 3px;
        transform: translate(-50%,-50%);
        padding-top: 2%;
        cursor: pointer;
        overflow: hidden;
      }
      #button1{
        position: absolute;
        top: 80%;
        left:50%;

      }
      #button2{
        position: absolute;
        top: 90%;
        left:50%;

      }
      #button1::after{
      content: '';
      width: 0px;
      height:87px;
      background-color: #f7f7f7;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) skewX(-25deg);
      z-index: -1;
      transition: all .4s;
    }
    #button2::after{
    content: '';
    width: 0px;
    height:87px;
    background-color: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewX(-25deg);
    z-index: -1;
    transition: all .4s;
  }
    #button1:hover::after{
      width: 335px;
    }
    #button2:hover::after{
      width: 335px;
    }

    .wrapper{
      opacity: 1;
    }
