.jumbotron{
	text-align: center;
}

#main{
  height: 50px;
  width: 50px;
  background-color: #69b4f8;
  border-radius: 50%;
  position: fixed;
  top: 95%;
  left: 3%;
  transform: translate(-50%,-50%);
  z-index: 99;
}
#main:hover{
  cursor: pointer;
}
#icon{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#menu{
  height: 0px;
  width: 0px;
  position: absolute;
  top: 12%;
  left: 58%;
  transform: translate(-50%,-50%);
}
#menu ul{
  height: 300px;
  width: 220px;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  visibility: hidden;

}
#menu ul li{
  font-family: fantasy;
  color: white;
  font-size: 27px;
  padding: 10px;

}
#menu ul li:hover{
  cursor: pointer;
}

#menu ul li:hover::before{
content: '';
width: 15px;
height:4px;
background-color: white;
position: absolute;
margin-top: 18px;
margin-left: -20px;
}
#menu ul li:hover::after{
content: '';
width: 15px;
height:4px;
background-color: white;
position: absolute;
margin-top: 18px;
margin-left: 5px;
}
#bg{
  height:100vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}


#over1{

text-align: center;
text-decoration: underline;
}

#img1{
	height: 150px;
	width: 150px;
	margin-left: 12px;

}

#img2{
	height: 150px;
	width: 150px;
	margin-left: 12px;
}

#over2{


}

#img3{
	height: 200px;
	width: 150px;
	 border: 10px solid transparent;
}

#img4{
	height: 200px;
	width: 150px;
}

#img5{
	height: 200px;
	width: 150px;
}
div.gallery {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
<<<<<<< HEAD
		height: 350px;	
		position: relative;

=======
		position: relative;
>>>>>>> 785c7a4f630d9957de0a8c81013952dd17c3d7c9
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.button{
  float: right;
  text-decoration: none;
  color: #fff;
  background-color: #68efad;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px 60px;
  font-size:15px;
  font-family:arial;
  border-radius: 60px;
  box-shadow: 2px 7px 0px 0px blue;
  transition: all .2s;
}
.button:active{
  bottom: -1%;
  box-shadow: 0px 0px 0px 0px blue;
}
